body{
    background-image: url(imgs/amirali-mirhashemian-sc5sTPMrVfk-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
}

.form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.form form{
    position: relative;
    top: 20rem;
    height: 5rem;
}
.form input{
    width: 50rem;
    height: 2.5rem;
}